		<div class="aside">
			
            <view for="$theController->controllerLogin->viewLogin" />
			
			<div class="column mt14">
				<h2><span class="decorate"></span><a href="" class="more">更多</a>
					线上活动</h2>
				<ul class="column_list">
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
					<li class="last">
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">那些不贱价的闲置！</a>
							</h3>
							<p>时间：2011年7月4日 至 2011年9月1日</p>
							<p class="jion">287人参加</p>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content">
			<div class="flash">
			</div>
			<div class="section">
				<h2><span class="decorate"></span><a href="" class="more">更多</a>
					推荐小组</h2>
				<ul class="column_list">
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">手工复兴年代</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">爱手工 爱生活 爱原创</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">ACG御宅族※ようこそ</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">一向以各式软性或强迫手段迫害御宅信仰的黑势力...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">交换书看看吧</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">我们交换书看吧！买了心爱的书都舍不得让它们躺在书...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">手工复兴年代</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">爱手工 爱生活 爱原创</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">ACG御宅族※ようこそ</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">一向以各式软性或强迫手段迫害御宅信仰的黑势力...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">交换书看看吧</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">我们交换书看吧！买了心爱的书都舍不得让它们躺在书...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">手工复兴年代</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">爱手工 爱生活 爱原创</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">ACG御宅族※ようこそ</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">一向以各式软性或强迫手段迫害御宅信仰的黑势力...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">交换书看看吧</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">我们交换书看吧！买了心爱的书都舍不得让它们躺在书...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">手工复兴年代</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">爱手工 爱生活 爱原创</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">ACG御宅族※ようこそ</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">一向以各式软性或强迫手段迫害御宅信仰的黑势力...</p>
					</li>
					<li>
						<a href="" target="_blank" class="thumb"><img src="/platform/ui/images/viewimg/xshd01.jpg" alt="" /></a>
						<div class="info">
							<h3><a href="" target="_blank">交换书看看吧</a>
							</h3>
							<p class="jion">[7346个成员]</p>
						</div>
						<p class="des">我们交换书看吧！买了心爱的书都舍不得让它们躺在书...</p>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="tabpart mt14">
				<div class="tab_tit">
					<ul id="tags">
						<li class="selectTag">
							<a onmouseover="selectTag('tagContent0',this)" href="javascript:void(0)">相 册</a>
						</li>
						<li>
							<a onmouseover="selectTag('tagContent1',this)" href="javascript:void(0)">日 志</a>
						</li>
					</ul>
				</div>
				<div class="tab_content">
					<div class="tab_item selectTag" id="tagContent0">
						<div><a href="" target="_blank" class="more">浏览更多</a></div>
						<div class="album">
							<ul>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc01.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
							</ul>
						</div>
					</div>
					<div class="tab_item" id="tagContent1">
						<div><a href="" target="_blank" class="more">浏览更多</a></div>
						<div class="album">
						<ul>
						<li>
							<a href="" title=""><img src="/platform/ui/images/viewimg/xc02.jpg" alt="" /></a>
							<p class="tit"><a href="">luan!</a></p>
							<p>Hans<span>[13张]</span></p>
							</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		
		
